@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-image: url("./assets/images/bg.jpg");
}
.main{
    /* width: 10%;
    height: 10%; */
    background-color: whitesmoke;
    height: fit-content;
    margin: 20px;
    /* padding: 20px; */
    border-radius: 21px;
    overflow: hidden;
    border: 1px solid black;

    /* position: ab */
}
.cover-image{
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit:cover !important;
    object-position: center 50%;

}
.cover{
    object-fit:inherit;
    height: 250px !important;
    overflow: hidden;
}
.profile-pic{
    height: 140px;
    width: 140px;
    align-self: center;
    margin-top: -70px;
}

.social-card{
    margin-top: 10px;
    /* margin-bottom: 30px; */
    height: 60px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.social-card>p{
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.social-card-icon{
    object-fit: cover;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 10px;
}
